<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/case.png" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Кейси</title>
  </head>
  <body>
    <div id="app" class="cases">
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a href="Main.html" class="navbar-brand logo"
              ><img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
                >shop</span
              ></a
            >
            <button
              class="navbar-toggler bg-light link-info"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li>
                  <a class="nav-link" href="Main.html">До головної</a>
                </li>
                <li>
                  <a class="nav-link" href="Questions.html">Питання</a>
                </li>
                <li>
                  <a class="nav-link" href="Inventory.html">Інвентар</a>
                </li>
                <li>
                  <a class="nav-link" href="Trade.html">Обмін</a>
                </li>
              </ul>
              <template v-cloak>
                <a href="LoginSteam.html" v-if="!IsLoginSuccess"
                  ><button type="button" class="btn btn-primary login-failed">
                    <img src="./img/steam.svg" alt="" /> Увіти за допомогою
                    STEAM
                  </button></a
                >
                <div
                  v-else-if="IsLoginSuccess && !isMdWidth"
                  class="header__login-success"
                >
                  <p class="header__balance">Баланс {{balance}}₴</p>
                  <div class="ellips-icon">{{ savedLogin[0] }}</div>
                </div>
              </template>
            </nav>
          </div>
        </nav>
        <template v-cloak>
          <div
            v-if="isMdWidth && IsLoginSuccess"
            class="header__login-success header__account_fixed"
          >
            <p class="header__balance">Баланс {{balance}}₴</p>
            <div class="ellips-icon">{{ savedLogin[0] }}</div>
          </div>
        </template>
      </header>
      <div
        class="show-popap-account"
        v-if="IsLoginSuccess"
        @click="popapInfoAccountActive = !popapInfoAccountActive"
        title="Відобразити/скрити інформацію про обліковий запис"
      >
        <img draggable="false" src="./img/openPopap.svg" alt="" />
      </div>
      <main>
        <div
          v-if="!casesLoad"
          class="spinner-border text-light spinner-loader"
          role="status"
          v-if="preloader"
          class=""
        >
          <span class="sr-only"></span>
        </div>
        <section class="section-cases">
          <div class="container-lg">
            <div class="info-cases">
              <img
                src="./img/image-contrterror.png"
                alt=""
                v-if="imgCT"
                class="img-ct"
              />
              <img src="./img/image-terr.png" alt="" />
              <p>Хочу відкривати і відкривати</p>
            </div>
            <template v-cloak>
              <div class="container-cases">
                <div
                  v-if="!casesLoad"
                  class="spinner-border text-light spinner-loader"
                  role="status"
                  v-if="preloader"
                  class=""
                >
                  <span class="sr-only"></span>
                </div>
                <div
                  class="container-cases-item"
                  v-for="(item,index) in cases"
                  @click="showCase(index)"
                  :refs="item"
                >
                  <img :src="item.img" alt="" />
                  <h5 align="center">{{ item.name}}</h5>
                  <p align="center">{{+item.price}}₴</p>
                </div>
              </div>
              <div class="container-cases-skins">
                <transition name="fade">
                  <div v-if="!Object.keys(caseItem).length == 0">
                    <img :src="caseItem.img" alt="" class="img-case-item" />
                    <h5 align="center">{{ caseItem.name}}</h5>
                    <p align="center">{{+caseItem.price}}₴</p>
                    <div class="position-relative ">
                      <button
                      type="button"
                      class="btn btn-success"
                      :disabled="disableOpenCase"
                      @click="checkLogin(caseItem.price)"
                    >
                      Відкрити
                    </button>
                      <transition name="fade">
                        <p class="wrong-open-case" v-if="insufficientFunds">У вас недостатньо коштів для відкриття кейсу</p>
                      </transition>
                    </div>
                  </div>
                </transition>
              </div>
              <transition name="fade">
                <div class="container-skins mt-5">
                  <div class="w-100 mx-auto">
                      <div class="roulette-wrapper">
                        <div id="roulette-container" ></div>
                      </div>
                  </div>
                  <p align="center" v-if="!Object.keys(caseItem).length == 0">
                    Скіни які знаходяться у цьому кейсі
                  </p>
                  <div
                    v-for="(skins, index) in caseSkins"
                    class="personal-invent-item"
                    style="border: 1px solid transparent"
                    :style="[skins.type === 'knife' ? {borderColor: '#F4CA16'} : {borderColor:'transparent'}]"
                    @click="shopPopapSkin(index, 'cases')"
                  >
                    <img :src="skins.image" alt="" />
                    <p class="skin-price">{{skins.price}} ₴</p>
                  </div>
                </div>
              </transition>
            </template>
          </div>
        </section>
      </main>
      <footer class="footer invenory-footer">
        <div class="footer-between">
          <div class="footer-logo">
            <img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
              >shop</span
            >
          </div>
          <div class="footer__wrap">
            <h5>Зв'язатися з нами</h5>
            <div>
              <a href="https://vk.com/max185"
                ><img src="./img/vk.svg" alt=""
              /></a>
              <a href="https://github.com/Maksym-SH/CSGOSHOP"
                ><img src="./img/github.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="footer__pay">
            <div class="replenishment">
              Ми приймаємо такі способи <br />поповнення рахунку<br />
              <img src="./img/mastercard.svg" alt="" />
              <img src="./img/visa.svg" alt="" />
            </div>
            <p>
              Copyright © 2022 CSGOSHOP.<br />
              Усі права захищені.
            </p>
          </div>
        </div>
      </footer>
      <template v-cloak>
        <transition name="fade">
          <div class="popap-skins-info" v-if="Object.keys(winThing).length !== 0">
            <div class="popap-win-weapon">
              <h4>Вітаємо</h4>
              <div class="popap-win-weapon__wrapper">
                <p>
                  Ви відкрили кейс "{{caseItem.name}}" та отримали наступний предмет:
                </p>
                <div class="popap-win-weapon__skin-info">
                  <img :src="winThing.image" alt="">
                  <div class="px-2">
                    <p>
                      Назва: {{winThing.name}} | {{winThing.skin}}
                    </p>
                    <p>
                      Стан: {{winThing.condition}}
                    </p>
                    <p>
                      Stattrack: {{winThing.statrack === 'no' ? 'ні' : 'так'}}
                    </p>
                    <p>Ціна: {{winThing.price}} ₴</p>
                  </div>
                </div>
              </div>
              <h6 align="center">Ваш приз був поміщений до вашого інвентарю</h6>
              <button class="btn btn-success d-block mx-auto my-2" @click="winThing ={}">Гаразд</button>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div class="popap-skins-info" v-if="popapActive">
            <div class="popap-skins-window">
              <img
                src="./img/close.svg"
                alt=""
                class="close__popap"
                @click="popapActive = !popapActive"
              />
              <div class="popap__img">
                <img :src="popapInfoSkin.image" alt="" />
              </div>
              <div class="popap__desc">
                <p>Назва: {{ popapInfoSkin.name }} | {{popapInfoSkin.skin}}</p>
                <p>Стан: {{ popapInfoSkin.condition }}</p>
                <p>Ціна: {{ popapInfoSkin.price}}₴</p>
              </div>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div
            class="popap-info-account"
            :class="{'popap-info-account-show': popapInfoAccountActive}"
          >
            <div class="popap-info__wrapper">
              <span>CSGO<span style="color: #c00">SHOP</span></span>
              Ви увійшли до свого акаунту як<br />
              {{ savedLogin }}<br />
              <p class="popap-info-data">
                Час входу до аккаунту: {{loginTime}}
              </p>
            </div>
            <ul class="popap-info__list">
              <li @click="replenishmentActive = !replenishmentActive">
                Поповнити баланс
              </li>
              <li>Інвентар виводу</li>
              <li @click="singOut()">Вийти з акаунту</li>
            </ul>
          </div>
        </transition>
        <transition name="fade">
          <div class="popap-skins-info" v-if="needLogin">
            <div class="popap-skins-window py-3">
              <img
                src="./img/close.svg"
                alt=""
                class="close__popap"
                @click="needLogin = !needLogin"
              />
              <h3 align="center">Увага</h3>
              <hr />
              <p>
                Для доступу до вашого інвентарю та відкриттю кейсів вам потрібно
                увійти до свого облікового запису, щоб увійти натисніть кнопку
                нижче
              </p>
              <a href="LoginSteam.html"
                ><button class="btn btn-primary">
                  <img src="./img/steam.svg" alt="" /> Увійти за допомогою Steam
                </button></a
              >
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div
            class="popap-skins-info"
            v-if="replenishmentActive && !methodPayActive"
          >
            <div class="replenishment-popap">
              <img
                src="./img/close.svg"
                alt=""
                @click="replenishmentActive = !replenishmentActive"
              />
              <h5 align="center">Виберіть спосіб поповнення рахунку</h5>
              <div class="replenishment-popap__wrapper">
                <div class="replenishment-popap-block" @click="Payment('visa')">
                  <img draggable="false" src="./img/visa.svg" alt="" />
                </div>
                <div
                  class="replenishment-popap-block"
                  @click="Payment('mastercard')"
                >
                  <img draggable="false" src="./img/mastercard.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div class="popap-skins-info" v-if="methodPayActive">
            <div class="replenishment-popap">
              <img
                src="./img/close.svg"
                alt=""
                @click="methodPayActive = !methodPayActive"
                class="close-popap-pay"
              />
              <h5 align="center" class="mt-3">
                Cпосіб поповнення рахунку: {{methodPay.method}}
              </h5>
              <form action="#" ref="formDataCard">
                <div class="inputs">
                  <div class="inputs__wrapper">
                    <div class="inputs__wrong-card-date">
                    </div>
                    <label for="cardNumber">Номер карти</label><br />
                    <input
                      type="text"
                      name="cardNumber"
                      required
                      v-for="(input,index) in 4"
                      maxlength="4"
                      v-filter="'[0-9]'"
                      v-model="cardNumber[index]"
                    />
                    <div class="d-block">
                      <label >Термін дії</label><br />
                        <select class="select-card-data" ref="selectMonth" @change="checkDataValidation($event)">
                          <option v-for="month in 12" :value="month">{{month}}</option>
                        </select>
                        <select class="select-card-data" @change="checkDataValidation($event)">
                          <option v-for="years in cardDateYears" :value="years">{{years}}</option>
                        </select>
                      </select>
                      <br />
                      <label for="cardOwner">Тримач карти</label></br>
                      <input type="text"  v-filter="'[a-z A-Z]'" v-model="cardOwner"><br/>
                      <label for="CVV">CVV код</label><br />
                      <input
                        type="text"
                        name="CVV"
                        maxlength="3"
                        v-filter="'[0-9]'"
                        required
                        v-model="cvvCard"
                      /><br />
                      <label for="sum">Сума ₴</label><br />
                      <input
                        type="text"
                        v-model="paySum"
                        name="sum"
                        maxlength="5"
                        v-filter="'[0-9]'"
                        required
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-primary mt-5 button-agree"
                  type="submit"
                  @click.prevent="checkPayValidation()"
                >
                  Підтвердити
                </button>
              </form>
              <div class="info-pay">
                <img
                  v-if="imgPresentInPopap"
                  src="./img/image-terr-second.png"
                  alt=""
                  class="inputs__img-terr"

                />
                <img :src="methodPay.path" alt="" v-if="imgPresentInPopap"/>
                <p>Зверніть увагу, що максимальна сума поповнення 40000₴</p>
              </div>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div class="popap-skins-info" v-if="wrongCardData">
            <div class="wrong-card-date">
                <div class="wrong-card-date__warning">
                  <img src="./img/warning.svg" alt="" >
                  <span>Увага!</span>
                </div>
                <p>Ви некоректно ввели дані, повторіть спробу.</p>
                <button class="btn btn-danger" @click="wrongCardData = !wrongCardData">Гаразд</button>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div class="popap-skins-info" v-if="correctCardData">
            <div class="wrong-card-date correct-card-date">
                <div class="wrong-card-date__warning">
                  <img src="./img/check-mark.svg" alt="" >
                  <span>Успіх!</span>
                </div>
                <p>Ви успішно поповнили свій баланс</p>
                <button class="btn btn-success" @click="correctCardData = !correctCardData">Гаразд</button>
            </div>
          </div>
        </transition>
      </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/ev_roulette.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
