<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/case.png" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Кейси</title>
  </head>
  <body>
    <div id="app" class="cases">
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a href="Main.html" class="navbar-brand logo"
            ><img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
              >shop</span
            ></a
          >
          <button
            class="navbar-toggler bg-light link-info"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li>
                <a class="nav-link" href="Main.html">До головної</a>
              </li>
              <li>
                <a class="nav-link" href="Questions.html">Питання</a>
              </li>
              <li>
                <a class="nav-link" href="Inventory.html">Інвентар</a>
              </li>
              <li>
                <a class="nav-link" href="Trade.html">Обмін</a>
              </li>
            </ul>
            </ul>
            <a href="LoginSteam.html" target="_blank"
              ><button type="button" class="btn btn-primary">
                <img src="./img/steam.svg" alt="" /> Увіти за допомогою STEAM
              </button></a
            >
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <div
      v-if="!casesLoad"
      class="spinner-grow"
      style="width: 4rem; height: 4rem"
      role="status"
    >
      <span class="sr-only"></span>
    </div>
      <section class="section-cases">
        <div class="container-lg">
          <div class="info-cases">
            <img src="./img/image-terr.png" alt="">
            <p>Хочу відкривати і відкривати</p>
          </div>
          <template v-cloak>
                <div class="container-cases" >
                  <div
                  v-if="!casesLoad"
                  class="spinner-grow"
                  style="width: 4rem; height: 4rem"
                  role="status"
                >
                  <span class="sr-only"></span>
                </div>
                    <div class="container-cases-item" v-for="(item,index) in cases" @click="showCase(index)" :refs="item">
                        <img :src="item.img" alt="">
                        <h5 align="center">{{ item.name}}</h5>
                        <p align="center">{{+item.price}}₴</p>
                    </div>
                </div>
                  <div class="container-cases-skins">
                    <transition name="fade">
                      <div v-if='!Object.keys(caseItem).length == 0'>
                        <img :src="caseItem.img" alt="" class="img-case-item">
                        <h5 align="center">{{ caseItem.name}}</h5>
                        <p align="center">{{+caseItem.price}}₴</p>
                        <button type="button" class="btn btn-success">Відкрити</button>
                      </div>
                    </transition>
                  </div>
                  <transition name="fade">
                <div class="container-skins">
                    <p align='center'v-if='!Object.keys(caseItem).length == 0' >Скіни які знаходяться у цьому кейсі</p>
                      <div v-for="(skins, index) in caseSkins" class="personal-invent-item"
                      style="border:1px solid transparent; position: relative;"
                      :style="[skins.type === 'knife' ? {borderColor: '#F4CA16'} : {borderColor:'transparent'}]" @click="shopPopapSkin(index, 'cases')">
                        <img :src="skins.image" alt="">
                        <p class="skin-price">{{skins.price}} ₴</p>
                      </div>
                </div>
                </transition>
          </template>
          <div class="result"></div>
        </div>
      </section>
    </main>
    <footer class="footer invenory-footer">
      <div class="footer-between">
        <div class="footer-logo">
          <img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
            >shop</span
          >
        </div>
        <div class="footer__wrap">
          <h5>Зв'язатися з нами</h5>
          <div>
            <a href="https://vk.com/max185"
              ><img src="./img/vk.svg" alt=""
            /></a>
            <a href="https://github.com/Maksym-SH/CSGOSHOP"
              ><img src="./img/github.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="footer__pay">
          <div class="replenishment">
            Ми приймаємо такі способи <br />поповнення рахунку<br />
            <img src="./img/mastercard.svg" alt="" />
            <img src="./img/visa.svg" alt="" />
          </div>
          <p>
            Copyright © 2022 CSGOSHOP.<br />
            Усі права захищені.
          </p>
        </div>
      </div>
    </footer>
    <transition name="fade">
      <div class="popap-skins-info" v-if="popapActive">
        <div class="popap-skins-window">
          <img
            src="./img/close.svg"
            alt=""
            class="close__popap"
            @click="popapActive = !popapActive"
          />
          <div class="popap__img">
            <img :src="popapInfoSkin.image" alt="" />
          </div>
          <div class="popap__desc">
            <p>Назва: {{ popapInfoSkin.name }} | {{popapInfoSkin.skin}}</p>
            <p>Стан: {{ popapInfoSkin.condition }}</p>
            <p>Ціна: {{ popapInfoSkin.price}}₴</p>
          </div>
        </div>
      </div>
    </transition>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
