<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/steam.svg" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Увійти за допомогою Steam</title>
  </head>
  <body>
    <div id="app" class="login-steam">
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a href="Main.html" class="navbar-brand logo"
              ><img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
                >shop</span
              ></a
            >
            <button
              class="navbar-toggler bg-light link-info"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li>
                  <a class="nav-link" href="Main.html">До головної</a>
                </li>
                <li>
                  <a class="nav-link" href="Questions.html">Питання</a>
                </li>
                <li>
                  <a class="nav-link" href="Inventory.html">Інвентар</a>
                </li>
                <li>
                  <a class="nav-link" href="Trade.html">Обмін</a>
                </li>
              </ul>
              <template v-cloak>
                <h6 v-if="!IsLoginSuccess" class="login-failed">
                  Вхід до акаунту не виконаний
                </h6>
                <div
                  v-else-if="IsLoginSuccess && !isMdWidth"
                  class="header__login-success"
                >
                  <p class="header__balance">Баланс {{balance}}₴</p>
                  <div class="ellips-icon">{{ savedLogin[0] }}</div>
                </div>
              </template>
            </nav>
          </div>
        </nav>
      </header>
      <template v-cloak>
        <div
          v-if="isMdWidth && IsLoginSuccess"
          class="header__login-success header__account_fixed"
        >
          <p class="header__balance">Баланс {{balance}}₴</p>
          <div class="ellips-icon">{{ savedLogin[0] }}</div>
        </div>
      </template>
      <div
        class="show-popap-account"
        v-if="IsLoginSuccess"
        @click="popapInfoAccountActive = !popapInfoAccountActive"
        title="Відобразити/скрити інформацію про обліковий запис"
      >
        <img draggable="false" src="./img/openPopap.svg" alt="" />
      </div>
      <main>
        <section class="login-section">
          <div class="container-lg">
            <div class="login-container" v-if="!IsLoginSuccess">
              <div class="block-login position-relative">
                <form action="#" class="inputs-login">
                  <template v-cloak>
                    <label for="login">Ім'я акаунта Steam</label>
                    <input type="text" name="login" v-model="login" />
                    <label for="password">Пароль</label>
                  </template>
                  <div class="block-password">
                    <input
                      type="password"
                      name="password"
                      v-model="password"
                      ref="input"
                      maxlength="26"
                    />
                    <template v-cloak>
                      <transition name="fade">
                        <img
                          src="./img/eye.svg"
                          alt=""
                          draggable="false"
                          class="eye-input"
                          v-if="password"
                          @mousedown="showPassword()"
                          @mouseup="hidePassword()"
                        />
                      </transition>
                    </template>
                  </div>
                  <button
                    type="button"
                    class="btn btn-primary my-3"
                    @click="checkForRobot()"
                  >
                    Увійти
                  </button>
                </form>
                <p class="wrong-login" v-if="wrongLogin">
                  Невірний логін або пароль, повторіть спробу
                </p>
              </div>
              <div class="block-info" id="d1">
                <p>
                  Увійдіть до Steam акаунту, щоб мати можливість користуватися
                  функціями магазину
                </p>
                <img src="./img/steam-entrance.png" alt="" />
              </div>
            </div>
            <div class="success-container" v-else align="center">
              <template v-cloak>
                <h1>Ви успішно увійшли до свого акаунту</h1>
                <a href="Main.html"
                  ><button class="btn btn-success mt-5 button-back-main">
                    Можете повернутися на головну сторінку натиснувши тут
                  </button></a
                >
              </template>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer-between">
          <div class="footer-logo">
            <img src="./img/logo.svg" alt="" /> Csgo<span class="logo-shop"
              >shop</span
            >
          </div>
          <div class="footer__wrap">
            <h5>Зв'язатися з нами</h5>
            <div>
              <a href="https://vk.com/max185"
                ><img src="./img/vk.svg" alt=""
              /></a>
              <a href="https://github.com/Maksym-SH/CSGOSHOP"
                ><img src="./img/github.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="footer__pay">
            <div class="replenishment">
              Ми приймаємо такі способи <br />поповнення рахунку<br />
              <img src="./img/mastercard.svg" alt="" />
              <img src="./img/visa.svg" alt="" />
            </div>
            <p>
              Copyright © 2022 CSGOSHOP.<br />
              Усі права захищені.
            </p>
          </div>
        </div>
      </footer>
      <template v-cloak>
        <transition name="fade">
          <div
            class="popap-skins-info position-relative"
            v-if="checkRobot && !IsLoginSuccess"
          >
            <div class="popap-skins-window">
              <h6 align="center">Підтвердіть, що ви не робот</h6>
              <div class="popap__img">
                <div class="numeric-table">{{ checkRobotText }}</div>
              </div>
              <div class="popap__desc">
                <div class="input-value">
                  <label for="enter-data">Введіть код який показано вище</label>
                  <input
                    type="text"
                    name="enter-data"
                    v-model="valueCheckRobot"
                  />
                  <button
                    class="btn btn-success p-1 mt-3"
                    @click="comparisonValues()"
                  >
                    Підтвердити
                  </button>
                  <h6 class="wrong-enter-code" v-if="robotValueComparison">
                    Ви неправильно ввели код
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </template>
      <transition name="fade">
        <div
          class="popap-info-account"
          :class="{'popap-info-account-show': popapInfoAccountActive  }"
        >
          <div class="popap-info__wrapper">
            <span>CSGO<span style="color: #c00">SHOP</span></span>
            Ви увійшли до свого акаунту як<br />
            {{ savedLogin }}<br />
            <p class="popap-info-data">Час входу до аккаунту: {{loginTime}}</p>
          </div>
          <ul class="popap-info__list">
            <li @click="replenishmentActive = !replenishmentActive">
              Поповнити баланс
            </li>
            <li>Інвентар виводу</li>
            <li @click="singOut()">Вийти з акаунту</li>
          </ul>
        </div>
      </transition>
      <transition name="fade">
        <div class="popap-skins-info" v-if="replenishmentActive">
          <div class="replenishment-popap">
            <img
              src="./img/close.svg"
              alt=""
              @click="replenishmentActive = !replenishmentActive"
            />
            <h5 align="center">Виберіть спосіб поповнення рахунку</h5>
            <div class="replenishment-popap__wrapper">
              <div class="replenishment-popap-block">
                <img draggable="false" src="./img/visa.svg" alt="" />
              </div>
              <div class="replenishment-popap-block">
                <img draggable="false" src="./img/mastercard.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
